<h1 class="my-3">Dettagli prodotto</h1>
<div class="container d-flex flex-column justify-content-around">
  <div class="d-flex">
    <div>
      <img [src]="product?.img" alt="funko img" />
    </div>

    <div class="d-flex flex-column">
      <h1 class="my-4">{{ product?.title }}!</h1>
      <p><b>Anno di uscita:</b> {{ product?.exitYear }}</p>
      <p><b> Altezza: </b>{{ product?.productHeight }}cm</p>
      <p><b>Peso: </b> {{ product?.productWeight }}g</p>
      <p><b>Pezzi prodotti:</b> {{ product?.itemsProduced }}</p>
    </div>
  </div>

  <div class="w-100">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas
      delectus nihil soluta neque libero impedit. Ex maxime voluptate maiores
      voluptatem similique veniam, assumenda ipsam ullam architecto illum, quam
      cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus et
      hic eligendi molestias enim. Libero eum ipsam unde autem! Recusandae vero
      maiores qui reiciendis libero perspiciatis suscipit nostrum fugiat magni.
    </p>
  </div>

  <div>
    <b>Prezzo: {{ product?.price }} €</b>
  </div>

  <div class="d-flex justify-content-between">
    <button class="buy" (click)="addToCart.emit(product)">Acquista</button>
    <button class="close" (click)="closeDetail()">Chiudi</button>
  </div>
</div>

