button{
  position: absolute;
  width: 93px;
  height: 27px;
  left: 174px;
  top: 340px;

  background: #F7B34E;
  border-radius: 20px;
  border: none;
  font-weight: 300;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
}

.card{
width: 18rem;
margin-bottom: 10px;
background: #FFFFFF;
border: 2px solid #282828;
box-sizing: border-box;
box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.55);

}
