<div class="d-flex justify-content-between">
  <h1>Develhope Store</h1>
</div>

<div class="d-flex">
  <div class="d-flex flex-column justify-content-between">
    <div *ngFor="let product of products">
      <app-cards [product]="product"></app-cards>
    </div>
  </div>

  <div>
    <h2>Benvenuti nello Shop di</h2>
    <img src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg" alt="logo develhope">
    <h3>Clicca sui dettagli del prodotto per visualizzare tutte le informazioni</h3>
  </div>
</div>

